<div class="container">
    <div class="row header-row">
        <div class="col p-3 back-col">
            <div  routerLink="" class="left-arrow-container"><img id="left" src="assets/left-caret.png" /></div>
        </div>
    </div>
    <div class="row main-row">
        <div class="col p-5">
            <p>hi, i'm mohab mohamed, i am a first generation muslim-american. i graduated from rutgers university as a double major in computer science and mathematics.
               i see computer science weirdly, as more of a creative outlet than a classical 'science', imagining an idea then bringing it to life.
               software engineering provides a way to bring the little worlds that exist in your head to something that you can physically interact with, even if it is something 
               as simple as an UI.   
            </p>
        </div>
    </div>
    <div class="row image-row">
        <div class="col">

        </div>
    </div>
</div>

<router-outlet></router-outlet>