<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
   -->
  <!-- Modal -->
  <div class="modal fade" [id]="modalId" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ projectTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body overflow-auto">
            <div [id]="carouselId" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let image of images | slice:0:1">
                        <img class="d-block w-100" [src]="image">
                      </div>
                  <div class="carousel-item" *ngFor="let image of images | slice:1">
                    <img class="d-block w-100" [src]="image">
                  </div>
                </div>
                <a  class="carousel-control-prev" href="{{'#' + carouselId}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a  class="carousel-control-next" href="{{'#' + carouselId}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="project-description">
                <p class="description">
                    {{description}} 
                </p>
            </div>
            <div class="project-link">
                <a *ngIf="mobileOnly" [href]="deployedLink" target="_blank" rel="noopener noreferrer" class="github-link">
                    deployed project (mobile)
                </a>
                <a *ngIf="webOnly" [href]="deployedLink" target="_blank" rel="noopener noreferrer" class="github-link">
                    deployed project (web)
                </a>
            </div>
            <div class="project-repo">
                <a [href]="githubRepo" target="_blank" rel="noopener noreferrer" class="github-repo">
                    github repo
                </a>
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
